body {
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: grid;
    place-content: center; /*centrado de izquierda a derecha*/
    min-height: 100vh; /*centrado de arriba a abajo*/
}